@font-face {
  font-family: pIqaD;
  src: url(Klingon-pIqaD-HaSta.ttf);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}

.pIqaD {
  font-family: pIqaD;
  font-size: 1.5em;
}

.letter {
  padding: .25rem;
}

.keyboard .row {
  display: flex;
  justify-content: center;
}

.keyboard .letter {
  border: 1px solid grey;
  border-radius: .25rem;
  margin: .1rem;
  cursor: pointer;
}

.focus {
  background-color: yellow;
}